.form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-color: #000000;
}

form h1 {
    font-size: 38px;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: .8rem;
}

form h3 {
    font-size: 15px;
    font-weight: 400;
}

form h1,
form h3 {
    text-align: center;
    color: #fff;
}

form h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-align: left;
}

.container__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}