.subject {
    width: 100%;
}

a {
    min-width: 616.28px;
    max-width: 616.28px;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.video {
    margin-left: 4rem;
}

@media screen and (min-width: 1024px) {}