.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  max-width: 56.25rem;
  width: 100%;
  padding: 2rem;
  background: #121212;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 6rem;
  right: 32rem;
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
