.footer {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        background-color: #000000E5;
    }
    
    .footer_info {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}