.container_text_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

label {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #fff;
}

.container_text_field,
label {
    margin-bottom: 1rem;
}

input {
    height: 4rem;
    padding: .5rem;
    border-radius: 10px;
    border: 3px solid #262626;
    color: #fff;
    background-color: transparent;
}

@media screen and (min-width: 1440px) {
    label {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }

    input,
    select {
        width: 100%;
    }
}