* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #000;
  }

  .category_button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
  }