.container_nav {
  width: 100%;
  margin: 2rem;
}

.nav_links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.9rem;
}

.nav_links li {
  list-style: none;
  width: 10rem;
  text-align: center;
}

.nav_link_home {
  color: blue;
  border: 0.2rem solid blue;
  padding: 0.9rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem blue;
}