.container__nav{
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

.nav__links li {
  list-style: none;
  width: 170px;
  text-align: center;
}

.nav__link__home {
  color: blue;
  border: 2px solid blue;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
}